{% extends 'music/base.html' %}
{% load static %}

<!-- Favicon  -->
<head>
    <link rel="icon" href="{% static 'music/images/headphone.png' %}">
</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->



{% block content %}
    <!-- Header -->
    <header id="header" class="header h-100 d-flex align-items-center justify-content-center">
        <div class="header-content w-100">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom: 6rem;">
                        <div class="p-heading p-large">Here you can drag and drop your music file or click on the area
                            and upload your music file to check genre of the music.
                        </div>
                    </div> <!-- end of col -->
                </div>
                <div class="row">
                    <form action="{% url 'predictor:result' %}" method="POST" enctype="multipart/form-data"
                          class="up-form d-flex flex-column align-items-center">
                        {% csrf_token %}
                        <input type="file" name='document' multiple="" class="up-input">
                        {{ form.as_table }}
                        <p class="up-p">Drag your music file here or click in this area.</p>
                        <button type="submit" class="btn btn-sm btn-success mt-5" style="width: 30vh;">Check</button>
                        {% include 'music/messages.html' %}
                    </form>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
        </div>
    </header> <!-- end of header -->
    <!-- end of header -->
    <!-- File Upload -->

{% endblock %}

</body>